{% extends 'administracion.html' %} {% load widget_tweaks %} {% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mt-5 shadow">
            <div class="card-header text-center bg-dark text-white">
              <h3>Crear Nuevo Usuario</h3>
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label"
                    >Nombre de Usuario</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label"
                    >Correo Electrónico</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="group" class="form-label">Asignar Grupo</label>
                  <select class="form-select" id="group" name="group">
                    <option value="Vendedor">Vendedor</option>
                    <option value="Propietario">Propietario</option>
                  </select>
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-dark">
                    Crear Usuario
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<{% endblock %}
