{% extends 'administracion.html' %} {% load static %}

<!-- Contenido que se muestra al lado de la sidebar -->
{% block content %}
<h1 class="mt-4">VENTAS</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">VENTAS</li>
</ol>
<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body">VENTAS</div>
      <div
        class="card-footer d-flex align-items-center justify-content-between"
      >
        <a class="small text-white stretched-link" href="#">View Details</a>
        <div class="small text-white">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>

    <ul> 
    <ul>
      <li>
        cuando se cargue administracion y la nueva base para vendedor, debo cambiar   lo de LOGGED IN AS: "propietario" o "vendedor"
      </li>
    </ul>
    <br />

    <h3>
      En ventas, el adminstrador aparte de la tabla, debe poder ver el monto
      total del dia, del mes,
    </h3>

    <br />
    <h3>
      en cambio la vendedora, solo podra agregar ventas, de manera diaria, pero
      no le aparecera un monto total
    </h3>
    <br />
    <br />

    <h1>
      DEBO DE CREAR OTRO administracion.HTML en donde cambiar el block content,
      pero ahora orientado a vendedora, esto quiere decir que:
    </h1>

    <ul>
      <li>
        crear otro archivo html como base para luego usar otros html que se
        carguen ahi
      </li>
      <li>usar views, y login requiered, y los if else en las views</li>
      <li>
        usar las cards que vienen en la plantila de admin para asi poder mostrar
        el monto del dia, del mes y asi
      </li>
    </ul>
  </div>
</div>
{% endblock %}
